@model IEnumerable<ChatEntity>

    @{
    String userId = User.GetUserId();
    }

    <div class="chat-body">
        @foreach(ChatEntity chat in Model) {
        <a class="room-button" asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).User.UserName
        </a>
        }
    </div>